* {
    margin: 0;
    padding: 0;
    transition: 0.1s ease-in-out;
}

main {
    display: flexbox;
}

body {
    background-color: rgb(27, 11, 53);
    background-size: 100%;
    /* background-image: url('https://picsum.photos/3840/2160'); */
}

#container {
    text-align: center;
    width: 50%;
}

#todos {
    text-align: center;
    display: flex;
    justify-content: center;
}

/* #todos2 {
    background-color: rgb(24, 18, 36);
    text-align: center;
    width: 500px;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.062);
} */
#todos2 {
    background-color: rgb(24, 18, 36);
    text-align: center;
    width: 500px;
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.062);
}

#todos2:hover {
    background-color: rgb(20, 13, 36);
}

#containercontainer {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 90%;
    max-width: 700px;
    min-height: 300px;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background-color: rgb(66, 53, 105);
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.158);
}